/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

h1 { font-size: 46px; font-weight: 600; line-height: 55.2px; margin-bottom: 21.6px; }

h2 { font-size: 36px; font-weight: 600; line-height: 43.2px; margin-bottom: 21.6px; }

h3 { font-size: 26px; font-weight: 600; line-height: 31.2px; margin-bottom: 21.6px; }

h4 { font-size: 22px; font-weight: 600; line-height: 26.4px; margin-bottom: 21.6px; }

h5 { font-size: 18px; font-weight: 600; line-height: 21.6px; margin-bottom: 21.6px; }

h6 { font-size: 14px; font-weight: 600; line-height: 16.8px; margin-bottom: 21.6px; }

/** Basic styling */
body { font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; color: #111; line-height: 20px; background-color: #fff; -webkit-text-size-adjust: 100%; }

article p { line-height: 25px; }

h4 { font-weight: 700; }

h1, h2, h3, h4, h5, h6 { margin-top: 15px; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, pre, ul, ol, dl, figure, .highlight { margin-bottom: 28.8px; }

/** Images */
img { margin: 10px auto; max-width: 100%; vertical-align: middle; display: block; }

/** Lists */
ul, ol { margin-left: 30px; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-family: "Raleway", "Libre Franklin", Helvetica, Arial, sans-serif; }

/** Links */
a { color: #2a7ae2; text-decoration: none; }
a:visited { color: #1756a9; }
a:hover { color: #111; text-decoration: underline; }

/** Site footer */
.footer { padding: 30px 0; }
