
@media print {

  .no-print, .no-print * {
    display: none !important;
  }

  article p {
    line-height: 15px !important;
  }

  .job-description {
    margin-bottom: 10px;
  }

  .project {

  }

  .project-description {
    margin-bottom: 10px;
  }
}

h2 {
  margin-bottom: 5px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 15px;
}

h4 {
  color: #1b809e;
  margin-top: 5px;
  margin-bottom: 10px;
}

.contact-info {
  margin-bottom: 5px;
}

.job-description {

}

.project {

}

.project-description {

}
