<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container page-content">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <header class="page-header">
            <h2>{{ page.title }}</h2>
            <address class="contact-info">
              <a href="mailto:mspangler@gmail.com">mspangler@gmail.com</a><br />
              <a href="tel:18063355179">1.806.335.5179</a><br />
              <a href={{ site.linkedin_url }} target="_blank">{{ site.linkedin_url }}</i></a>
            </address>
          </header>
          <article class="post-content">
            {{ content }}
          </article>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
